# gitignore for terraform
.terraform/
.terraform-version
.terraform.lock.hcl
*.tfstate
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.zip

# gcp workload identity pool
credential-configuration.json